SUBSYSTEMS=="usb", KERNELS=="2-1", SYMLINK+="ttyUSBPORT2"
SUBSYSTEMS=="usb", KERNELS=="2-2", SYMLINK+="ttyUSBPORT3"
SUBSYSTEMS=="usb", KERNELS=="3-2", SYMLINK+="ttyUSBPORT0"
SUBSYSTEMS=="usb", KERNELS=="4-1", SYMLINK+="ttyUSBPORT1"
