SUBSYSTEMS=="usb", KERNELS=="1-1.2", SYMLINK+="ttyUSBTL"
SUBSYSTEMS=="usb", KERNELS=="1-1.3", SYMLINK+="ttyUSBBL"
SUBSYSTEMS=="usb", KERNELS=="1-1.4", SYMLINK+="ttyUSBTR"
SUBSYSTEMS=="usb", KERNELS=="1-1.5", SYMLINK+="ttyUSBBR"
